<div data-mnv="ecLiveSearch" class="mnv-widget mnv-ec-livesearch"></div>
<script>
function ready(fn) {
  if (document.readyState != 'loading'){
    fn();
  } else {
    document.addEventListener('DOMContentLoaded', fn);
  }
}

ready(function(){
  var searchableArray , config, liveSearchCmp;
  // Injecting initial data
  searchableArray = [{ label: 'First', value: 1, color: "#FFCCE5" }, { label: 'Second very long label with lot of text', value: 1, color: "#FFCCE5" }, { label: 'Second ver', value: 1, color: "#FFCCE5" },  { label: 'Second', value: 1, color: "#FFCCE5" },  { label: 'Second', value: 1, color: "#FFCCE5" },  { label: 'Second', value: 1, color: "#FFCCE5" },  { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" },  { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" },{ label: 'Second', value: 1, color: "#FFCCE5" },{ label: 'Another second', value: 1, color: "#FFCCE5" }, { label: 'Third', value: 4, color: "#8a89a6"}, { label: 'Fourth', value: 1, color: "#6b486b"}];
  config = {
    list: searchableArray,
    searchProperty: "label",
    hideOnLeave: false,
    placeholder: "Search..."
  };
  // Create the liveSearch obj
  liveSearchCmp = new ecLiveSearch(config);
  // This code simulate a listener to the selection of a suggestion
  document.getElementsByClassName("mnv-ec-livesearch")[0].addEventListener('resultSelected', function(e){
    console.log("Received" + JSON.stringify(e.detail));
  });
});

</script>

