<div data-mnv="ecLiveSearch" class="mnv-widget mnv-ec-livesearch"></div>
<script>
function ready(fn) {
  if (document.readyState != 'loading'){
    fn();
  } else {
    document.addEventListener('DOMContentLoaded', fn);
  }
}

ready(function(){
  var searchableArray , config, liveSearchCmp;
  // Injecting initial data
  searchableArray = [{ label: 'First', value: 1, color: "#FFCCE5" }, { label: 'Second', value: 1, color: "#FFCCE5" },  { label: 'Another second', value: 1, color: "#FFCCE5" }, { label: 'Third', value: 4, color: "#8a89a6"}, { label: 'Fourth', value: 1, color: "#6b486b"}];
  config = {
    list: searchableArray,
    searchProperty: "label",
    hideOnLeave: true,
    placeholder: "Search..."
  };
  // Create the liveSearch obj
  liveSearchCmp = new ecLiveSearch(config);
  // This code simulate a listener to the selection of a suggestion
  document.getElementsByClassName("mnv-ec-livesearch")[0].addEventListener('resultSelected', function(e){
    console.log("Received" + JSON.stringify(e.detail));
  });
});

<!--
// Config here your script budget or leave the default configuration
-->
var budgetScriptConfig = {
// list of the built-in metrics http://lafikl.github.io/perfBar/#list 
  budget: {
    // the key is the metric id
    'loadTime': {
      max: 200
    },
    'redirectCount': {
      max: 1
    },
    'globalJS': {
      min: 2,
      max: 5
    }
  }
};
</script>

